# This is the 2nd part of the total work process. [Click here](https://colab.research.google.com/drive/1lsHtQUS_mfGBv_afWIGO_f37nPi_Mfoq?usp=sharing) to see the first part

In [ ]:
# Concatenating all the files into one dataframe


import pandas as pd

import glob

path = r'/content/'

all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:

    df = pd.read_csv(filename, index_col=None, header=0)

    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
frame.head()

   location  year  total_days_snowed  total_days_rained
0  syracuse  2019                 86                245
1  portland  2019                 10                180
2  san_jose  2019                  0                 96
3   augusta  2019                  1                107
4   chicago  2019                 45                235

In [ ]:
frame.shape

(100, 4)

In [ ]:
 # Sorted the dataframe by 'location' column for easier readability


frame_sorted = frame.sort_values(['location'], ascending=True)
frame_sorted.head()

       location  year  total_days_snowed  total_days_rained
34        akron  2019                 64                253
11  albuquerque  2019                 20                132
94      anaheim  2019                  0                 83
92    anchorage  2019                 44                160
95    arlington  2019                  0                171

In [ ]:
# Cleaned 'location' column

frame_sorted['location'] = frame_sorted['location'].apply(lambda x: x.title())
frame_sorted['location'] = frame_sorted['location'].str.replace('_', ' ')
frame_sorted.head(50)

            location  year  total_days_snowed  total_days_rained
34             Akron  2019                 64                253
11       Albuquerque  2019                 20                132
94           Anaheim  2019                  0                 83
92         Anchorage  2019                 44                160
95         Arlington  2019                  0                171
32           Atlanta  2019                  1                196
3            Augusta  2019                  1                107
30            Aurora  2019                 64                167
56            Austin  2019                  1                197
24       Bakersfield  2019                  0                106
84         Baltimore  2019                 16                205
91       Baton Rouge  2019                  0                203
38             Boise  2019                  0                276
76            Boston  2019                 35                201
85           Buffalo  2019                 83                247
97          Chandler  2019                  0                 88
28         Charlotte  2019                  0                190
80       Chattanooga  2019                  8                208
52        Chesapeake  2019                  2                195
4            Chicago  2019                 45                235
45        Cincinnati  2019                 27                217
99         Cleveland  2019                 58                235
54  Colorado Springs  2019                 81                202
55          Columbus  2019                 45                231
93    Corpus Christi  2019                  0                145
9             Dallas  2019                  0                183
48            Denver  2019                 67                191
26        Des Moines  2019                 37                186
62           Detroit  2019                 53                216
7             Durham  2019                  0                194
41           El Paso  2019                  4                108
33   Fort Lauderdale  2019                  0                289
75        Fort Worth  2019                  0                167
10            Fresno  2019                  0                104
40           Gilbert  2019                  0                 85
73          Glendale  2019                  0                 79
18        Greensboro  2019                  3                195
68         Henderson  2019                  2                 62
57          Honolulu  2019                  0                249
83           Houston  2019                  0                224
60      Indianapolis  2019                 34                205
14            Irving  2019                  0                171
13      Jacksonville  2019                  0                218
63       Kansas City  2019                 21                190
17         Knoxville  2019                  6                208
27            Laredo  2019                  0                118
71         Las Vegas  2019                  3                 58
59         Lexington  2019                 33                235
79           Lincoln  2019                 29                170
21        Long Beach  2019                  0                 73

In [ ]:
# Downloaded the dataframe for future use

from google.colab import files
frame_sorted.to_csv(r'semi_final.csv', index = False)
files.download('semi_final.csv')

In [ ]:
import pandas as pd
semi_final = pd.read_csv('semi_final.csv')
print(semi_final.shape)
semi_final.head()

(100, 4)

      location  year  total_days_snowed  total_days_rained
0        Akron  2019                 64                253
1  Albuquerque  2019                 20                132
2      Anaheim  2019                  0                 83
3    Anchorage  2019                 44                160
4    Arlington  2019                  0                171

In [ ]:
# Renamed the 'loaction' column to 'city' so that we can merge the dataframe with the dataframe with unique identifier

semi_final = semi_final.rename(columns={"location": "city"})
semi_final.head()

          city  year  total_days_snowed  total_days_rained
0        Akron  2019                 64                253
1  Albuquerque  2019                 20                132
2      Anaheim  2019                  0                 83
3    Anchorage  2019                 44                160
4    Arlington  2019                  0                171

In [ ]:
# This is the dataframe where we will get an unique identifier (city_id) for our dataframe

id_file = pd.read_csv('100city_state_data.csv')
print(id_file.shape)
id_file.head()

(100, 4)

   city_id       city state     city_state
0        0  Anchorage    AK  Anchorage, AK
1        1   Chandler    AZ   Chandler, AZ
2        2    Gilbert    AZ    Gilbert, AZ
3        3   Glendale    AZ   Glendale, AZ
4        4       Mesa    AZ       Mesa, AZ

In [ ]:
# merging both dataframe together

final = pd.merge(id_file, semi_final, on='city', how='inner')
print(final.shape)
final.head(50)

(100, 7)

    city_id              city state  ...  year  total_days_snowed  total_days_rained
0         0         Anchorage    AK  ...  2019                 44                160
1         1          Chandler    AZ  ...  2019                  0                 88
2         2           Gilbert    AZ  ...  2019                  0                 85
3         3          Glendale    AZ  ...  2019                  0                 79
4         4              Mesa    AZ  ...  2019                  0                 85
5         5           Phoenix    AZ  ...  2019                  1                 74
6         6        Scottsdale    AZ  ...  2019                  0                 89
7         7            Tucson    AZ  ...  2019                  1                 93
8         8           Anaheim    CA  ...  2019                  0                 83
9         9       Bakersfield    CA  ...  2019                  0                106
10       10            Fresno    CA  ...  2019                  0                104
11       11        Long Beach    CA  ...  2019                  0                 73
12       12       Los Angeles    CA  ...  2019                  0                 66
13       13           Oakland    CA  ...  2019                  0                 97
14       14        Sacramento    CA  ...  2019                  0                105
15       15         San Diego    CA  ...  2019                  0                104
16       16     San Francisco    CA  ...  2019                  0                100
17       17          San Jose    CA  ...  2019                  0                 96
18       18         Santa Ana    CA  ...  2019                  0                 91
19       19            Aurora    CO  ...  2019                 64                167
20       20  Colorado Springs    CO  ...  2019                 81                202
21       21            Denver    CO  ...  2019                 67                191
22       22        Washington    DC  ...  2019                 12                198
23       23   Fort Lauderdale    FL  ...  2019                  0                289
24       24      Jacksonville    FL  ...  2019                  0                218
25       25             Miami    FL  ...  2019                  0                277
26       26           Orlando    FL  ...  2019                  0                227
27       27    St. Petersburg    FL  ...  2019                 95                220
28       28       Tallahassee    FL  ...  2019                  0                180
29       29             Tampa    FL  ...  2019                  0                219
30       30           Atlanta    GA  ...  2019                  1                196
31       31           Augusta    GA  ...  2019                  1                107
32       32          Honolulu    HI  ...  2019                  0                249
33       33        Des Moines    IA  ...  2019                 37                186
34       34             Boise    ID  ...  2019                  0                276
35       35           Chicago    IL  ...  2019                 45                235
36       36      Indianapolis    IN  ...  2019                 34                205
37       37           Wichita    KS  ...  2019                 10                157
38       38         Lexington    KY  ...  2019                 33                235
39       39        Louisville    KY  ...  2019                 18                207
40       40       Baton Rouge    LA  ...  2019                  0                203
41       41       New Orleans    LA  ...  2019                  0                193
42       42        Shreveport    LA  ...  2019                  0                168
43       43            Boston    MA  ...  2019                 35                201
44       44         Baltimore    MD  ...  2019                 16                205
45       45           Detroit    MI  ...  2019                 53                216
46       46       Minneapolis    MN  ...  2019                 61                179
47       47       Kansas City    MO  ...  2019                 21                190
48       48         St. Louis    MO  ...  2019                  0                 51
49       49         Charlotte    NC  ...  2019                  0                190

[50 rows x 7 columns]

In [ ]:
final.tail(50)

    city_id            city state  ...  year  total_days_snowed  total_days_rained
50       50          Durham    NC  ...  2019                  0                194
51       51      Greensboro    NC  ...  2019                  3                195
52       52         Raleigh    NC  ...  2019                  0                203
53       53   Winston Salem    NC  ...  2019                  4                185
54       54         Lincoln    NE  ...  2019                 29                170
55       55           Omaha    NE  ...  2019                 36                198
56       56          Newark    NJ  ...  2019                 18                210
57       57     Albuquerque    NM  ...  2019                 20                132
58       58       Henderson    NV  ...  2019                  2                 62
59       59       Las Vegas    NV  ...  2019                  3                 58
60       60            Reno    NV  ...  2019                 48                115
61       61         Buffalo    NY  ...  2019                 83                247
62       62        New York    NY  ...  2019                 18                204
63       63       Rochester    NY  ...  2019                 65                235
64       64        Syracuse    NY  ...  2019                 86                245
65       65           Akron    OH  ...  2019                 64                253
66       66      Cincinnati    OH  ...  2019                 27                217
67       67       Cleveland    OH  ...  2019                 58                235
68       68        Columbus    OH  ...  2019                 45                231
69       69   Oklahoma City    OK  ...  2019                  8                164
70       70           Tulsa    OK  ...  2019                  4                181
71       71        Portland    OR  ...  2019                 10                180
72       72    Philadelphia    PA  ...  2019                 15                196
73       73      Pittsburgh    PA  ...  2019                 53                234
74       74      Providence    RI  ...  2019                 25                190
75       75     Chattanooga    TN  ...  2019                  8                208
76       76       Knoxville    TN  ...  2019                  6                208
77       77         Memphis    TN  ...  2019                  3                185
78       78       Nashville    TN  ...  2019                 11                223
79       79       Arlington    TX  ...  2019                  0                171
80       80          Austin    TX  ...  2019                  1                197
81       81  Corpus Christi    TX  ...  2019                  0                145
82       82          Dallas    TX  ...  2019                  0                183
83       83         El Paso    TX  ...  2019                  4                108
84       84      Fort Worth    TX  ...  2019                  0                167
85       85         Houston    TX  ...  2019                  0                224
86       86          Irving    TX  ...  2019                  0                171
87       87          Laredo    TX  ...  2019                  0                118
88       88         Lubbock    TX  ...  2019                  7                125
89       89           Plano    TX  ...  2019                  1                176
90       90     San Antonio    TX  ...  2019                  0                195
91       91  Salt Lake City    UT  ...  2019                 57                129
92       92      Chesapeake    VA  ...  2019                  2                195
93       93         Norfolk    VA  ...  2019                  2                195
94       94        Richmond    VA  ...  2019                  7                203
95       95  Virginia Beach    VA  ...  2019                  0                186
96       96         Seattle    WA  ...  2019                 10                164
97       97         Spokane    WA  ...  2019                 60                159
98       98         Madison    WI  ...  2019                 45                200
99       99       Milwaukee    WI  ...  2019                 46                191

[50 rows x 7 columns]

In [ ]:
final.sort_values(by=['city_id'])
final.head(50)

   city_id       city state  ...  year  total_days_snowed  total_days_rained
0        0  Anchorage    AK  ...  2019                 44                160
1        1   Chandler    AZ  ...  2019                  0                 88
2        2    Gilbert    AZ  ...  2019                  0                 85
3        3   Glendale    AZ  ...  2019                  0                 79
4        4       Mesa    AZ  ...  2019                  0                 85

[5 rows x 7 columns]

In [ ]:
final.tail(50)

In [ ]:
# Downloaded the dataframe for future use

from google.colab import files
final.to_csv(r'snow_and_rain.csv', index = False)
files.download('snow_and_rain.csv')

[click here](https://colab.research.google.com/drive/1mgsddcrdNcRMAy2o95ifUuZSgcMrGfk0?usp=sharing) to see where the 'weather_average' data come from

In [ ]:
import pandas as pd
df1 = pd.read_csv('weather_average.csv')
df2 = pd.read_csv('snow_and_rain.csv')

In [ ]:
df1.head()

   city_id       city  ... winter_mintempF_mean winter_humidity_mean
0        0  Anchorage  ...                   15                   84
1        1   Chandler  ...                   49                   39
2        2    Gilbert  ...                   49                   39
3        3   Glendale  ...                   49                   38
4        4       Mesa  ...                   49                   39

[5 rows x 10 columns]

In [ ]:
# merging with weather_average data

df_all = pd.merge(df1,df2[['city_id','total_days_snowed', 'total_days_rained']],on='city_id', how='left')
df_all.head()

   city_id       city  ... total_days_snowed total_days_rained
0        0  Anchorage  ...                44               160
1        1   Chandler  ...                 0                88
2        2    Gilbert  ...                 0                85
3        3   Glendale  ...                 0                79
4        4       Mesa  ...                 0                85

[5 rows x 12 columns]

In [ ]:
# Downloading the final data

from google.colab import files
df_all.to_csv(r'weather_average.csv', index = False)
files.download('weather_average.csv')

Now we finally have all the necessary weather info in one dataset. This dataset was then merged with a bigger dataset which includes other data of the cities like population, unemployment, rental data etc.

If yo want to see all the notebooks used to work on weather data click the links below

[Notebook 1](https://colab.research.google.com/drive/1mgsddcrdNcRMAy2o95ifUuZSgcMrGfk0?usp=sharing)

[Notebook 2](https://colab.research.google.com/drive/12t8tEJqOOZTM5cYhfup9r2n9WgeTgByY?usp=sharing)

[Notebook 3](https://colab.research.google.com/drive/1lsHtQUS_mfGBv_afWIGO_f37nPi_Mfoq?usp=sharing)

[Notebook 4](https://colab.research.google.com/drive/1dp2r_YvLkOO9zQlBjk6ILjtySUqWNNou?usp=sharing)